{%extends '_blank.html'%}
{%block qux_content%}
<div class="container offset-md-5">
    <h5 style="padding:10px;">Add Asset</h5>
</div>
<form action='' method = 'POST'>
    {% csrf_token %}
    <div class="container offset-md-4">
        <div style = "width:30%; border:1px solid black; border-radius:5px; margin:20px;padding:20px;">
            {{form.as_p}}
        </div>
    </div>
    <div class="container offset-md-4">
        <a href="{%url 'assetmgt:assetlist'%}" class="btn btn-secondary">Save & Add</a>
        <button type='submit'class="btn btn-secondary" style="margin-right: 30px; margin-left:80px;">Save</button>
        <a href="{%url 'assetmgt:assetlist'%}" class="btn btn-secondary">Cancel</a>   
    </div>

</form>
{%endblock%}