{%extends '_blank.html'%}
{%block qux_content%}
<style>
th,td {
    padding : 5px;
    border-style :solid;
    border-width :1px;
}

a{
    background-color:#787878;
    float:right;
    border:1px solid grey; 
    border-radius:5px;
    color:white;
    padding:5px;
}
</style>

<div>
    <h3 style="text-align:center; padding:20px;">Assets Available</h3>
</div>

<div class="container" style="text-align:center; padding:20px;">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <select id="type" onchange = "display();" style="float:left; padding:5px;border-radius:5px;">
            <option value="All">Assets</option>
            <option value="CPU">CPU</option>
            <option value="Keyboard">Keyboard</option>
            <option value="Mouse">Mouse</option>
            <option value="Monitor">Monitor</option>
        </select> 
        
        <a href="{%url 'assetmgt:add' %}" style="">Add Asset</a>
      </div>
      <div class="col">
      </div>
    </div>
  </div>

<div class="container">
    <div class="row">
      <div class="col-md-5 offset-md-3">
        <table class="table table-hover" style="border:3px solid black">
            <tr style="background-color:#b4b4b4;">
                <th>ID</th>
                <th>Model ID</th>
                <th>Brand</th>
                <th>Type</th>
                <th>Date Procured</th>
                <th>Price</th>
                <th>User</th>
                <th>Date Allotted</th>
            </tr>
            {%for obj in object_list%}
            <tr onclick="showdetails({{obj.id}});">
                <td>{{obj.id}}</td>
                <td>{{obj.model_id}}</td>
                <td>{{obj.brand_name}}</td>
                <td>{{obj.type_of_asset}}</td>
                <td>{{obj.date_procured}}</td>
                <td>{{obj.price}}</td>
                <td>{{obj.user.name}}</td>
                <td>{{obj.date_allotted}}</td>
            </tr>
            {%empty%}
                <p>No Data</p>
            {%endfor%}
        </table>        
      </div>
    </div>
  </div>
{%endblock%}


{% block customjs %}
{{ block.super }}

<script>
    function showdetails(id){
        console.log(id)
        window.location.replace(window.location.origin +"/assetmgt/"+id)
    }
</script>

{% endblock %}
   
