{%extends '_blank.html'%}
{%block qux_content%}
<style>
th,td {
    padding : 5px;
    border-style :solid;
    border-width :1px;
}

a{
    background-color:#787878;
    float:right;
    border:1px solid grey; 
    border-radius:5px;
    color:white;
    padding:5px;
}
</style>

<div>
    <h3 style="text-align:center; padding:20px;">Accessories Available</h3>
</div>

<div class="container" style="text-align:center; padding:20px;">
    <div class="row">
      <div class="col">
      </div>
      <div class="col" style="padding-left:180px;">
        {% comment %} <select id="type" onchange = "display();" style="float:left; padding:5px;border-radius:5px;">
            <option value="All">Assets</option>
            <option value="CPU">CPU</option>
            <option value="Keyboard">Keyboard</option>
            <option value="Mouse">Mouse</option>
            <option value="Monitor">Monitor</option>
        </select>  {% endcomment %}
        
        <a href="{%url 'assetmgt:acc_add' %}" style="">Add Accessory</a>
      </div>
      <div class="col">
      </div>
    </div>
  </div>

<div class="container">
    <div class="row">
      <div class="col-md-5 offset-md-4">
        <table class="table table-hover" style="border:3px solid black">
            <tr style="background-color:#b4b4b4;">
                <th>ID</th>
                <th>Model ID</th>
                <th>Type</th>
                <th>Asset</th>
            </tr>
            {%for obj in accessories_list%}
            <tr onclick="showdetails({{obj.id}});">
                <td>{{obj.id}}</td>
                <td>{{obj.model_id}}</td>
                <td>{{obj.accessory_type}}</td>
                <td>{{obj.asset}}</td>
            </tr>
            {%empty%}
                <p>No Data</p>
            {%endfor%}
        </table>        
      </div>
    </div>
  </div>
{%endblock%}


{% block customjs %}
{{ block.super }}

<script>
    function showdetails(id){
        console.log(id)
        window.location.replace(window.location.origin +"/assetmgt/accessories/detail/"+id)
    }

    function display(){
        var x = document.getElementById('type').value;
        var y = (window.location.origin +"/assetmgt/assets/?type="+x)
        console.log(y)
        window.location.replace(y)
    
    }
</script>

{% endblock %}
   
