<table>
    <tr>
        <th>Model ID</th>
        <th>Brand</th>
        <th>Asset Type</th>
        <th>Date Procured</th>
        <th>Price</th>
        <th>User</th>
        <th>Date Allotted</th>
    </tr>
    <tr>
        <td>{{object.model_id}}</td>
        <td>{{object.brand_name}}</td>
        <td>{{object.type_of_asset}}</td>
        <td>{{object.date_procured}}</td>
        <td>{{object.price}}</td>
        <td>{{object.user.name}}</td>
        <td>{{object.date_allotted}}</td>
    </tr>
</table>
        
