<<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <style>
            nav{
                display:grid;
                
            }
            .base{
                background-color:black
            }
        </style>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <nav>
            <div class=base>
                <a href="{%url 'assetmgt:assetlist'%}" class="btn btn-secondary">Cancel</a>
                <a href="{%url 'assetmgt:accessorylist'%}" class="btn btn-secondary">Cancel</a>
                <a href="{%url 'assetmgt:userlist'%}" class="btn btn-secondary">Cancel</a>
            <div>
        </nav>
    </body>
</html>