{%extends 'assetmgt/asset_detail.html'%} 
{%block qux_content%} 
<div class="container offset-md-5">
    <h5 style="padding:10px; padding-left:30px">Remove Asset</h5>
</div>
<form action='' method = 'POST'>
    {% csrf_token %}
    {%block carddata%}{{ block.super }}{%endblock carddata%}
    <div class="container offset-md-4">
        <p>Are you sure you want to delete this asset?</p>
    </div>
    <div class="container offset-md-5">
        <a href="{%url 'assetmgt:assetdetail' object.id%}" class="btn btn-secondary">Cancel</a>
        <button type='submit'class="btn btn-secondary">Delete</button>
    </div>
</form>
{%endblock%}